## **Import the Packages**

In [5]:
import pandas as pd
from sklearn.decomposition import PCA
import numpy as np
import matplotlib.pyplot as plt
import seaborn as snspi

In [9]:
data = pd.read_table('Nichols_Nicki.dat')
data

     ias1  ias2  ias3  ias4  ias5  ias6  ias7  ias8  ias9  ias10  ...  ias27  \
0       1     1     2     1     1     1     1     2     2      1  ...      3
1       2     1     3     1     2     1     1     2     1      1  ...      3
2       4     2     4     2     3     3     4     2     3      3  ...      3
3       1     1     3     1     1     1     1     2     1      1  ...      1
4       2     1     3     2     1     1     1     2     3      1  ...      3
..    ...   ...   ...   ...   ...   ...   ...   ...   ...    ...  ...    ...
202     1     1     3     2     2     1     1     2     1      1  ...      3
203     1     1     4     1     1     1     1     3     1      1  ...      2
204     3     2     4     3     2     3     2     4     4      2  ...      2
205     3     1     5     1     1     3     4     3     2      2  ...      4
206     1     1     1     1     2     1     3     4     4      3  ...      2

     ias28  ias29  ias30  ias31  ias32  ias33  ias34  ias35  ias36
0        1      1      1      1      1      1      1      1      1
1        1      1      1      2      1      2      1      1      1
2        2      2      3      3      1      2      2      1      3
3        1      1      1      2      1      1      1      1      1
4        1      1      1      2      1      1      1      3      1
..     ...    ...    ...    ...    ...    ...    ...    ...    ...
202      1      1      3      4      3      1      1      1      1
203      1      1      1      2      1      1      1      2      1
204      2      1      4      2      4      2      1      1      1
205      3      1      1      4      3      1      1      1      1
206      3      2      2      2      3      1      1      2      3

[207 rows x 36 columns]

In [12]:
stats = data.describe().T.sort_values("std").head()
print(stats)

       count      mean       std  min  25%  50%  75%  max
ias34  207.0  1.111111  0.344474  1.0  1.0  1.0  1.0  3.0
ias23  207.0  1.144928  0.427525  1.0  1.0  1.0  1.0  3.0
ias15  207.0  1.231884  0.516098  1.0  1.0  1.0  1.0  3.0
ias28  207.0  1.236715  0.563454  1.0  1.0  1.0  1.0  4.0
ias6   207.0  1.222222  0.565075  1.0  1.0  1.0  1.0  4.0

In [23]:
variances = data.var()
lowest_variance_items = variances.nsmallest(2).index.tolist()
print("Items dropped for low variances:", lowest_variance_items)
var_drop = data.drop(['ias34','ias23'], axis= 1)
var_drop

Items dropped for low variances: ['ias34', 'ias23']

,ias1,ias2,ias3,ias4,ias5,ias6,ias7,ias8,ias9,ias10,...,ias26,ias27,ias28,ias29,ias30,ias31,ias32,ias33,ias35,ias36
0,1,1,2,1,1,1,1,2,2,1,...,1,3,1,1,1,1,1,1,1,1
1,2,1,3,1,2,1,1,2,1,1,...,1,3,1,1,1,2,1,2,1,1
2,4,2,4,2,3,3,4,2,3,3,...,3,3,2,2,3,3,1,2,1,3
3,1,1,3,1,1,1,1,2,1,1,...,1,1,1,1,1,2,1,1,1,1
4,2,1,3,2,1,1,1,2,3,1,...,1,3,1,1,1,2,1,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,1,1,3,2,2,1,1,2,1,1,...,1,3,1,1,3,4,3,1,1,1
203,1,1,4,1,1,1,1,3,1,1,...,1,2,1,1,1,2,1,1,2,1
204,3,2,4,3,2,3,2,4,4,2,...,3,2,2,1,4,2,4,2,1,1
205,3,1,5,1,1,3,4,3,2,2,...,2,4,3,1,1,4,3,1,1,1
206,1,1,1,1,2,1,3,4,4,3,...,1,2,3,2,2,2,3,1,2,3

In [40]:
corr = var_drop.corr()
conf_df = pd.DataFrame(corr)
conf_df.to_csv('confusion_matrix.csv', index=False, header=False)

f_data = var_drop.drop([])

In [ ]:
pca = PCA(n_components=None)
raq_pca = pca.fit_transform(raq)
pca.explained_variance_ratio_

In [41]:
pca_5 = PCA(n_components=5)
raq_pca2 = pca_5.fit_transform(raq)
pca.explained_variance_ratio_

NameError: name 'raq' is not defined